{% extends 'baselogin.html ' %}

{% block component %}
  <div class="overlap-group">
    <div class="rectangle"></div>
    <div class="header"></div>
    <div class="text-wrapper">Login</div>
    <div class="user-input">
      <input type="text" id="user" placeholder="User"><br>
      <div class="rectangle-2"></div>
    </div>
    <div class="password-input">
      <input type="password" id="password" placeholder="Password" required><br>
      <button type="button" id="togglePassword" class="btn">
        <i class="bi bi-eye"></i>
      </button>
      
      <div class="rectangle-2"></div>
    </div>
    <div class="group-button">
      <a href="{{ url_for('dashboard') }}" class="login-button">
        <div class="text-wrapper-2">Login</div>
      </a>
      <a  class="forget-button">
        <div class="text-wrapper-3">Forgotten password?</div>
      </a>
    </div>
    <a  class="creat-button">
      <div class="text-wrapper-4">Creat a new account</div>
    </a>
    <img class="logo-i-soft" src="{{ url_for('static', filename='images/logo-i-soft.svg') }}" />
  </div>
{% endblock %}
