:root {
  --variable-collection-light1: initial;
  --variable-collection-light2: none;
  --variable-collection-tau2: 85px;
  --variable-collection-tau1: 35px;
  --variable-collection-boolean-on: initial;
  --variable-collection-boolean-off: none;
  --variable-collection-light3: none;
  --variable-collection-light4: none;
  --variable-collection-light5: none;
  --variable-collection-light6: none;
  --variable-collection-light7: none;
  --variable-collection-light8: none;
  --variable-collection-light9: none;
  --variable-collection-light10: none;
  --variable-collection-light11: none;
  --variable-collection-light12: none;
  --variable-collection-light13: none;
  --variable-collection-light14: none;
  --variable-collection-light15: none;
  --variable-collection-light16: none;
  --variable-collection-light17: none;
  --variable-collection-light18: none;
  --variable-collection-light19: none;
  --variable-collection-light20: none;
}
